
 <header class="header_area">
    
    <div class="main_menu">
      <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light w-100">
          <!-- Brand and toggle get grouped for better mobile display -->
          <a class="navbar-brand logo_h" href="/users/useraccount">
            <img style="height: auto; width: 10rem;"  src="/images/logo.png" alt="" />
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse offset w-100" id="navbarSupportedContent">
            <div class="row w-100 mr-0">
              <div class="col-lg-7 pr-0">
                <ul class="nav navbar-nav center_nav pull-right">
                  <li class="nav-item active">
                    <a class="nav-link" href="/users/useraccount">Home</a>
                  </li>
                  <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Shop</a>
                    <ul class="dropdown-menu">
                      {{!-- <li class="nav-item">
                        <a class="nav-link" href="category.html">Shop Category</a>
                      </li> --}}
                      <li class="nav-item">
                        <a class="nav-link" href="/users/console">Gaming Console</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/users/games">Games</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="/users/accessories">Accessories</a>
                      </li>
                    </ul>
                  </li>
                  {{!-- <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Blog</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="blog.html">Blog</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="single-blog.html">Blog Details</a>
                      </li>
                    </ul>
                  </li> --}}
                  {{!-- <li class="nav-item submenu dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                      aria-expanded="false">Pages</a>
                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link" href="tracking.html">Tracking</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="elements.html">Elements</a>
                      </li>
                    </ul>
                  </li> --}}
                  <li class="nav-item">
                    <a class="nav-link" href="/users/contact">Contact</a>
                  </li>
                </ul>
              </div>

              <div class="col-lg-5 pr-0">
                <ul class="nav navbar-nav navbar-right right_nav pull-right">
                  {{!-- <li class="nav-item">
                    <a href="#" class="icons">
                      <i class="ti-search" aria-hidden="true"></i>
                    </a>
                  </li> --}}

                  <li class="nav-item">
                    <a href="/users/cart" class="icons">
                    
                      <i class="fa fa-light fa-cart-shopping">
                      {{!-- {{#if cartCount}} --}}
                      <span id="cartCount" style="font-size:8px;" class="position top-0 start-100 translate badge rounded-pill bg-danger">
                                          {{cartCount}}
                      </span>
                      {{!-- {{/if}} --}}
                      </i>
                      
                      {{!-- <i class="ti-shopping-cart"></i> --}}
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/users/profile" class="icons">
                      <i class="fa fa-light fa-user"></i>
                      {{!-- <i class="ti-user" aria-hidden="true"></i> --}}
                    </a>
                  </li>

                  <li class="nav-item">
                    <a href="/users/wishlist" class="icons">
                      <i class=" fa fa-thin fa-heart">
                        {{!-- <span style="font-size:8px;" class="position top-0 start-100 translate badge rounded-pill bg-danger">0 --}}
                      </span>
                      </i>
                      
                      {{!-- <i class="ti-heart" aria-hidden="true"></i> --}}
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </header>