<section class="container">

    <h4 style="margin-left: 10rem;">add new address</h4>
        <form class="mb-0 mt-5" method="post" action="/users/address/add">

          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="name" type="text" id="form9Example1" class="form-control input-custom" />
                <label class="form-label" for="form9Example1">Name</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="number" type="number" id="form9Example2" class="form-control input-custom" />
                <label class="form-label" for="form9Example2">Phnone number</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="city" type="text" id="form9Example3" class="form-control input-custom" />
                <label class="form-label" for="form9Example3">City</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="pin" type="number" id="form9Example4" class="form-control input-custom" />
                <label class="form-label" for="form9Example4">Pin Code</label>
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <input name="address" type="text" id="form9Example6" class="form-control input-custom" />
                <label class="form-label" for="form9Example6">Address</label>
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <input name="email" type="email" id="typeEmail" class="form-control input-custom" />
                <label class="form-label" for="typeEmail">Email</label>
              </div>
            </div>
          </div>

          <div class="float-end ">
            <!-- Submit button -->
            <button type="submit" class="btn btn-primary btn-rounded"
              style="background-color: #0062CC ;">Add addres</button>
          </div>

        </form>
        <br>
        <br>

</section>