<section style="display: flex; flex-direction: row;" >
    <div style="width: 10rem; height: 100%; background-color: aquamarine;">
        <div
            style=" background-image: url(https://img.freepik.com/free-vector/blue-pink-halftone-background_53876-99004.jpg?w=2000); width: 20rem; height: 41.5rem; display: flex; flex-direction: row; justify-content: left; float: left;">
            <div class="container "
                style=" text-decoration: none; padding-top: 3rem; padding-left: 2rem; text-decoration-color: #ffff;">
                <a href="/users/profile" style="text-decoration: none; margin-top: 5rem;  color: #000">
                    <i class="fa-solid fa-angles-right" style="float: left;"></i>
                    <h5>&nbsp; Personal info</h5>
                </a>
                <br>
                <a href="/users/history" style="text-decoration: none; color: #000;">
                    <i class="fa-solid fa-angles-right" style="float: left;"></i>
                    <h5>&nbsp; Order history</h5>
                </a>
                <br>
                <a href="/users/address" style="text-decoration: none; color: #000;">
                    <i class="fa-solid fa-angles-right" style="float: left;"></i>
                    <h5>&nbsp; Address</h5>
                </a>
                <br>
                <a href="/users/password" style="text-decoration: none;  color: #000;">
                    <i class="fa-solid fa-angles-right" style="float: left;"></i>
                    <h5>&nbsp; Password Management</h5>
                </a>
                <br>
                <a href="/users/logout" style="text-decoration: none;  color: #000;">
                    <i class="bi bi-box-arrow-right" style="float: left;"></i>
                    <h5>&nbsp; Logout</h5>
                </a>
            </div>
        </div>
    </div>
    <div style="margin-left: 15rem; margin-top: 5rem;">
       <section class="container">
<div>
            <h4>Change password</h4>
            <form action="/users/changepassword" method="post" style="width: 30rem;">
            <div class="form-outline mb-4">
            <input name="currentpassword" type="password" id="form7Example5" class="form-control"  required/>
            <label class="form-label" for="form7Example5">Current Password</label>
            </div>
             <div class="form-outline mb-4">
            <input name="newpassword" type="password" id="form7Example5" class="form-control" required/>
            <label class="form-label" for="form7Example5">New password</label>
            </div>
             <div class="form-outline mb-4">
            <input name="newpassword" type="password" id="form7Example5" class="form-control"  required/>

            <label class="form-label" for="form7Example5">conform New Password</label>
            </div>
            <button type="submit" class="btn btn-primary">Change Password</button>

            </form>
            <br>
</div>

</section> 
    </div>
</section>
